main.wrapper-main{
    width: 100%;
    background-color:var(--clr-light-grey);
    background-image: url("../img/lumier-bkg-transp.png");
    background-size:contain;
    background-repeat: repeat;
}