
.social-media-h3 {
    text-align: center;
    margin: 1.3rem 0 0.5rem 0;
    font-family: var(--font-1);
    font-size: var(--font-size-big);
    color: var(--clr-dark-grey);
    text-shadow: 0px 0px 3px var(--clr-secondary);
}
.wrapper-social-media{
    height: 15vh;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.wrapper-social-media button {
    width: 12rem;
    height: 36px;
    border-radius: var(--rnd-med);
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content:center;
    transition: all 0.35s ease-in-out;
}
.wrapper-social-media button:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);  
}
.wrapper-social-media button.wapp-btn img{
    width: 28px;
}

.wrapper-social-media button img{
    width: 24px;
    margin-right: 5px;
}

.wrapper-social-media button a,p{
    text-decoration: none;
    font-size: var(--font-size-reg);  
    font-family: var(--font-2); 
    font-weight: 600;
    color: var(--clr-dark-grey);
}

.wrapper-social-media button.wapp-btn{
    background-color: #25D366;
}

.wrapper-social-media button.nube-btn{
    cursor: pointer;
}
@media (max-width: 768px) {
    .wrapper-social-media{
        height: 25vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       }
       .wrapper-social-media button{
        height: 36px;
    }
}